.leftbody{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 17%;
}
.profile{
    border-radius: 10px;
    margin-top: 52px;
    width: 100%;
    height: 340px;
    background: rgb(15, 15, 15);
    border: 1px solid rgb(36, 36, 36);
}

.discover{
    position: sticky;
    top: 63px;
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
    height: 140px;
    background: rgb(15, 15, 15);
    border: 1px solid rgb(36, 36, 36);
}
.profile-div-1{
    width: 100%;
    height: 16%;
}
.profile-div-2{
    width: 100%;
    height: 33%;
}
.profile-div-3{
    display: flex;
    width: 100%;
    height: 18%;
}
.profile-div-4{
    width: 100%;
    height: 18%;
}
.profile-div-5{
    display: flex;
    padding-top: 5px;
    width: 100%;
    height: 15%;
}
.profile-div-1 img{
    height: 70px;
    border-radius: 100px;
    margin-top: 21px;
    margin-left: 80px;
}
.profile-div-2{
    margin-top: 0px;
    
}
.name{
    padding-top: 40px;
   
}
.profile-div-4 img{
    height: 15px;
}
.discover-1{
    display: flex;
    width: 100%;
    height: 70%;
    border-bottom: 2px solid rgb(36, 36, 36);
}
